<?xml version="1.0"?>
<configuration>
  <!--system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="DemoACServerApplication.WebService">
                <endpoint address="" binding="wsHttpBinding" contract="DemoACServerApplication.IWebService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/DemoACServerApplication/WebService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
