<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWebService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8732/DemoACServerApplication/WebService/" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWebService" contract="WebService.IWebService" name="WSHttpBinding_IWebService">
                <identity>
                    <userPrincipalName value="mij@milestone.dk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ploeh.AutoFixture" publicKeyToken="b24654c590009d4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.47.8.0" newVersion="3.47.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>